workflow_analysis/survey_workflow.json
{"createdAt":"2025-07-26T23:27:19.711Z","updatedAt":"2025-10-04T23:31:05.000Z","id":"Rc9iq3TKi55iqSW2","name":"Encuestador","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d212159c-7658-4307-8dc7-b72862434d90","leftValue":"={{ $json.Fecha_Entrega }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,-16],"id":"b32726ba-9e64-43db-9183-09217085858d","name":"(Check Fecha_Entrega)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5f09e8fe-eadf-452b-98e1-88607d7d2855","leftValue":"={{ $json.horas_diferencia }}","rightValue":0,"operator":{"type":"number","operation":"lte"}},{"id":"11129612-3bc5-4171-9832-67d922daf198","leftValue":"={{ $json.horas_diferencia }}","rightValue":-23,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,-32],"id":"8f848181-5e14-475c-8d4d-b2513780dc6b","name":"(Check Time Window)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"330b477a-4e27-48bc-b3d5-e45ee27eec9f","leftValue":"={{ $now.setZone('America/Mexico_City').hour }}","rightValue":9,"operator":{"type":"number","operation":"gte"}},{"id":"004db134-6160-40fe-bb29-4acd2db504dd","leftValue":"={{ $now.setZone('America/Mexico_City').hour }}","rightValue":22,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,0],"id":"f5dc2bb2-5eda-4fc4-a31f-b4b0ea237bb0","name":"Verificar Horario (9am-10pm)"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1qOh0cKQgcVDmwYe8OeiUXUDU6vTJjknVaH8UKI6Ao_A","mode":"list","cachedResultName":"Pedidos CapiBobba","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qOh0cKQgcVDmwYe8OeiUXUDU6vTJjknVaH8UKI6Ao_A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PEDIDOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qOh0cKQgcVDmwYe8OeiUXUDU6vTJjknVaH8UKI6Ao_A/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Estado","lookupValue":"ENTREGADO"},{"lookupColumn":"Encuesta_Enviada"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-64,-16],"id":"3cb72be5-4c6d-4724-873e-a0df893c227c","name":"Lee si ya se envió la encuesta","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleApi":{"id":"JbqYZ9uwPD4BpgyL","name":"Google Service Account account"}}},{"parameters":{"assignments":{"assignments":[{"id":"82dc4233-0f0a-4151-8e46-16e52c2f3172","name":"horas_diferencia","value":"={{ DateTime.fromFormat($json.Fecha_Entrega, 'dd/MM/yyyy HH:mm:ss').diff(DateTime.now(), 'hours').hours }}\n\n","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,-32],"id":"384a3820-ac51-4992-99c0-6a1420c43070","name":"Prepara fecha de entrega"},{"parameters":{"operation":"send","phoneNumberId":"689439850928282","recipientPhoneNumber":"={{ $('(Check Fecha_Entrega)').item.json.Numero_Cliente.toString() }}","textBody":"¡Hola! Soy CapiBot, de CapiBobba 💜.  Noté que disfrutaste de un pedido con nosotros. ¡Esperamos que te haya encantado!  Para mejorar, ¿podrías calificar tu experiencia del 1 al 5? (donde 5 es excelente).  ¡Tu opinión es súper importante para nosotros! ✨ Cualquier comentario será profundamente agradecido. Que sigas teniendo un excelente dia.","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[592,-48],"id":"ea53a67d-fee8-4040-a466-aaa154d58e74","name":"Envía la encuesta al cliente","webhookId":"1f8483e8-a004-4be7-af98-9fd7ec275889","credentials":{"whatsAppApi":{"id":"WmWtAp08konWBzPu","name":"WhatsApp account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9d6e1173-c7ca-4a01-9bc8-1f568ee9605f","name":"row_number","value":"={{ $('(Check Fecha_Entrega)').item.json.row_number }}","type":"string"},{"id":"04a36666-6fb3-49e0-bb4b-887bcab049d9","name":"Encuesta_Enviada","value":"={{ $now.setZone('America/Mexico_City').toFormat('yyyy-MM-dd HH:mm:ss') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,-48],"id":"6f68916e-49da-4997-9a6f-25b64984771e","name":"Prepara la actualización de lista de encuestas "},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1qOh0cKQgcVDmwYe8OeiUXUDU6vTJjknVaH8UKI6Ao_A","mode":"list","cachedResultName":"Pedidos CapiBobba","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qOh0cKQgcVDmwYe8OeiUXUDU6vTJjknVaH8UKI6Ao_A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PEDIDOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qOh0cKQgcVDmwYe8OeiUXUDU6vTJjknVaH8UKI6Ao_A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Encuesta_Enviada":"={{ $json.Encuesta_Enviada }}","row_number":"={{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Numero_Cliente","displayName":"Numero_Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Detalle_Pedido","displayName":"Detalle_Pedido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Total","displayName":"Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID_Pedido","displayName":"ID_Pedido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Fecha_Entrega","displayName":"Fecha_Entrega","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Encuesta_Enviada","displayName":"Encuesta_Enviada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[944,-48],"id":"75693ee8-b182-487c-8c69-b6ce7d0a610c","name":"Actualiza lista de encuestas","credentials":{"googleApi":{"id":"JbqYZ9uwPD4BpgyL","name":"Google Service Account account"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-384,0],"id":"170941b1-9bdf-4cd6-9476-a66254f3c9d1","name":"Cada Hora"}],"connections":{"(Check Fecha_Entrega)":{"main":[[{"node":"Prepara fecha de entrega","type":"main","index":0}]]},"(Check Time Window)":{"main":[[{"node":"Envía la encuesta al cliente","type":"main","index":0}]]},"Verificar Horario (9am-10pm)":{"main":[[{"node":"Lee si ya se envió la encuesta","type":"main","index":0}]]},"Lee si ya se envió la encuesta":{"main":[[{"node":"(Check Fecha_Entrega)","type":"main","index":0}]]},"Prepara fecha de entrega":{"main":[[{"node":"(Check Time Window)","type":"main","index":0}]]},"Envía la encuesta al cliente":{"main":[[{"node":"Prepara la actualización de lista de encuestas ","type":"main","index":0}]]},"Prepara la actualización de lista de encuestas ":{"main":[[{"node":"Actualiza lista de encuestas","type":"main","index":0}]]},"Cada Hora":{"main":[[{"node":"Verificar Horario (9am-10pm)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"MMlYj8Cmws8Je6Pk"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Cada Hora":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"45b1c886-a137-434f-b46d-8fa4948c43d0","triggerCount":1,"shared":[{"createdAt":"2025-07-26T23:27:19.715Z","updatedAt":"2025-07-26T23:27:19.715Z","role":"workflow:owner","workflowId":"Rc9iq3TKi55iqSW2","projectId":"IRoJSo4BF5C7GsEU","project":{"createdAt":"2025-07-18T04:40:49.252Z","updatedAt":"2025-07-18T04:42:06.819Z","id":"IRoJSo4BF5C7GsEU","name":"Alfredo Mendez <elfeyo1980@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-18T04:40:49.252Z","updatedAt":"2025-07-18T04:40:49.252Z","userId":"271b0bf9-d4ce-4c66-8a0b-2338d2a840d3","projectId":"IRoJSo4BF5C7GsEU","user":{"createdAt":"2025-07-18T04:40:48.521Z","updatedAt":"2025-10-10T20:45:18.000Z","id":"271b0bf9-d4ce-4c66-8a0b-2338d2a840d3","email":"elfeyo1980@gmail.com","firstName":"Alfredo","lastName":"Mendez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-18T04:42:24.857Z","personalization_survey_n8n_version":"1.102.4","companySize":"<20","companyType":"ecommerce","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"CIJkgOoHEZ4SgfIJ","userActivatedAt":1752815892055,"easyAIWorkflowOnboarded":true,"npsSurvey":{"responded":true,"lastShownAt":1753128358085}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-10","isPending":false}}]}}],"tags":[]}